body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

section{
  padding: 10px;
}

.parent{
  border: 1px solid #eee;
  background-color: #ece;
}

.child{
  border: 1px solid #ccc;
  background-color: #cbd22b;
}